doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/all.min.css')
        //favicon
        link(rel='shortcut icon' href='/image/ndsoft.ico')
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.bundle.min.js")
        script(src="/js/sweetalert2@11.js")
        title Quản lý phân quyền
        style.
            .row.list1 {
                display: flex;
                /* justify-content: space-between; Căn lề hai bên */
                /* align-items: center; Căn chỉnh dọc nếu cần */
            }
                        
            .list-nhanvien {
                margin-left: auto;
                margin-right: 2%;
                text-align: right;
            }
            .nut-bam {
                cursor: pointer;
            }
            .rights-group-btn i {
                font-size: 0.5 rem; /* Thu nhỏ kích thước icon */
                line-height: 1;    /* Đảm bảo không chiếm thêm không gian dọc */
                vertical-align: middle; /* Căn giữa hoàn hảo với chữ nếu có */
            }
            ul {
                list-style-type: none; /* Bỏ dấu chấm */
                padding: 0;            /* Bỏ khoảng trống thụt lề mặc định */
                margin: 0;             /* Bỏ khoảng cách lề nếu cần */
            }
    body 
        .container-fluid
            section.shadow-sm
                .card-header.bg-white.py-3.text-center
                    h5.mb-0.text-primary
                        i.fas.fa-gear.me-2
                        | PHÂN QUYỀN NGƯỜI DÙNG
            if errorMessages && errorMessages.length
                .alert.alert-danger
                    each message in errorMessages
                        div= message
            if successMessages && successMessages.length
                .alert.alert-success
                    each message in successMessages
                        div= message             
        section
                //- .d-flex.gap-4.align-items-center
                //-     input#search-box.form-control(type='text', placeholder='Tìm kiếm tài khoản')
                //-     button#copy-btn.btn.btn-primary Sao chép quyền
                //-     button#save-btn.btn.btn-primary Lưu thay đổi
                .row.align-items-center.g-2
                    .col-auto
                        .search_box
                            input#search-box.form-control(type='text', placeholder='Tìm kiếm tài khoản')
                    .col-auto
                        button#copy-rights.btn.btn-primary Sao chép quyền
                    .col-auto
                        button#save-rights.btn.btn-primary Lưu thay đổi
        section             
                .row
                    // Cột tài khoản
                    .col-md-6
                        h3 Tài khoản
                        ul#taikhoan-list.list-group
                            each taikhoan, index in taikhoans
                                li.list-group-item
                                    .row.list1
                                        .col
                                            | #{index}
                                            label.nut-bam(for=taikhoan.MATK)
                                                input(type="radio" id=taikhoan.MATK name="MATK" value=taikhoan.MATK)
                                                | &nbsp; #{taikhoan.username} 
                                        .col.list-nhanvien        
                                            span
                                                label(for=taikhoan.MATK)
                                                | &nbsp; #{taikhoan.fullname} (matk: #{taikhoan.MATK}) 
                    // Cột nhóm quyền
                    .col-md-6
                        h3 Nhóm quyền
                        ul#nhomquyen-list.list-group
                            each nhomquyen, index in nhomquyens
                                li.list-group-item
                                    .row.list1
                                        .col-md-12
                                            label.nut-bam
                                                input(type="checkbox" class="group-checkbox" data-group-id=nhomquyen.MANQ name="MANQ")
                                                | &nbsp; #{nhomquyen.TenNQ}
                                                span.rights-count(data-group-id=nhomquyen.MANQ)
                                            button.btn.btn-primary.btn-sm.rights-group-btn(style="scale: 0.8" type="button" data-group-id=nhomquyen.MANQ) 
                                                i.fas.fa-chevron-down.fa-xs
                                    ul.phanquyen-list.list-group(data-group-id=nhomquyen.MANQ, style="display: none;")
                                        each phanquyen in nhomquyen.phanquyen
                                            li.list-rights-group
                                                label.nut-bam
                                                    input(type="checkbox" class="right-checkbox" data-rights-id=phanquyen.id name="id" value=phanquyen.id)
                                                    | &nbsp; #{phanquyen.id} -
                                                    | &nbsp; #{phanquyen.tenquyen}
                                                    | &nbsp; ( #{phanquyen.description}) 
    foot 
        script(src="/js/rightsActive.js")